/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the viewport for responsive scaling */
@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

/* Basic styles for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #002060;
}

/* Header styles */
header {
    text-align: left;
    padding: 20px 0;
}

/* Navbar styles */
.navbar {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 10%;
}

/* Logo styles */
.logo img {
    max-width: 100%; /* Ensures the logo resizes responsively */
    height: auto;    /* Maintain aspect ratio */
    margin-bottom: 10px;
}

/* Navbar unordered list */
.navbar ul {
    list-style-type: none;
    padding: 0;
}

/* Navbar list items */
.navbar ul li {
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Navbar links */
.navbar ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    background-color: #0000;
    border-bottom: 1px solid #555;
    font-size: 18px;
}

.navbar ul li a i {
    font-size: 30px;
    margin-bottom: 8px;
}

.navbar ul li a span {
    font-size: 20px;
    font-weight: bold;
}

.navbar ul li a:hover {
    background-color: #555;
}

/* Media Query for Tablet and Desktop view */
@media (min-width: 769px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: static;
        width: 100%;
    }
    
    .navbar ul li {
        flex-grow: 1;
    }
}

/* Line styles */
.vertical-line, .vertical-line2, .vertical-line3, .vertical-topline, .vertical-topline1, .vertical-topline2, .vertical-topline3 {
    background-color: #fff;
}

/* Responsive text sizes */
h1, h3, h4 {
    font-family: 'Bell MT', serif;
}

h1 {
    font-size: 85px;
    font-weight: 900;
    color: #CD9600;
    position: absolute;
    left: 45%;
    top: 260px;
}

h3 {
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    left: 30%;
    top: 55px;
}

h4 {
    font-size: 65px;
    font-weight: 900;
    color: #CD9600;
    position: absolute;
    left: 45%;
    top: 440px;
}

/* Adjust text sizes for mobile view */
@media (max-width: 768px) {
    h1 {
        font-size: 50px;
        left: 30%;
    }
    
    h3 {
        font-size: 28px;
        left: 20%;
    }
    
    h4 {
        font-size: 45px;
        left: 30%;
    }
}

/* Container styles for sections */
.container-portfolio, .about-container {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.portfolio-paragraph, .about-paragraph {
    color: #fff;
    font-size: 20px;
    font-family: 'Bell MT', serif;
    line-height: 1.2;
    text-align: justify;
}

/* Flex containers for portfolio items */
.container1, .container2, .container3 {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 20px;
}

/* Contact form */
.form {
    padding: 0px;
    width: 100%;
    max-width: 500px;
    text-align: left;
    margin-bottom: 30px;
}

.name, .send {
    width: 100%;
    height: auto;
}

/* Footer */
.footer {
    text-align: left;
    color: #fff;
}

.footer a {
    color: #fff;
    font-size: 24px;
}

/* Media Queries for overall responsiveness */
@media (max-width: 768px) {
    .container1, .container2, .container3 {
        width: 100%; /* Full width for smaller screens */
        height: auto; /* Adjust height to content */
    }
    
    .footer {
        text-align: center;
    }
    
    .about-paragraph, .portfolio-paragraph {
        width: 90%; /* Adjust width on smaller screens */
        font-size: 18px;
    }
}
